@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Small Business - IoT App Studio";
    ViewData["MetaDescription"] = "NuvIoT apps built with IoT App Studio can help your small business affordably leverage IoT technology to help you embrace change and take advantage of new opportunties.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image:url(/images/SmallBusinessBanner.jpg); height:678px;background-repeat:no-repeat;background-size:cover;background-position:center">
    <h1 style="padding-top:225px" class="bnr-headling">IoT within the grasp of your Small Business</h1>
    <a class="btn btn-primary" style="font-size:x-large;display:block;margin-left:auto;margin-right:auto;width:200px;display:block;margin-top:50px" href="/contactus">
        Find out More
    </a>
</div>
<div class="container">
    <div class="row" style="margin-top:60px">
        <p style="font-family:'RobotoLight';font-size:48px" class="mast-head lead">You worked hard at building your small business</p>
        <p style="font-family:'RobotoLight';font-size:x-large;color:rgb(102,102,102)" class="mast-head lead">Let us show you how you can affordably use IoT to reduce operating costs, increase productivity and expand into new markets or develop new product offeringsand ensure quality.</p>
        <ul>
            <li>Reduce operating costs</li>
            <li>Increase productivity</li>
            <li>Expand into new markets</li>
            <li>Create new product offerings</li>
        </ul>
        <p style="font-family:'RobotoLight';font-size:xx-large" class="mast-head lead">Are you a small business and think only the bigs can benefit from IoT?</p>
        <p style="font-family:'RobotoLight';font-size:xx-large" class="mast-head lead">Think again!</p>
    </div>
</div>
