@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Machine Learning - IoT App Studio";
    ViewData["MetaDescription"] = "NuvIoT apps built with IoT App Studio can help your small business affordably leverage IoT technology to help you embrace change and take advantage of new opportunties.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image:url(/images/MachineLearning.jpg); height:703px;background-repeat:no-repeat;background-size:cover;background-position:center">
    <h1 style="padding-top:25px" class="bnr-headling">Powerful Machine Learning Integration </h1>
</div>
<div class="container">
    <div class="row" style="margin-top:60px">
        <p style="font-family:'RobotoLight';font-size:58px" class="mast-head lead">IoT App Studio makes it easy to collect data to harness the power of Machine Learning</p>
        <p style="margin-top:50px;" class="mast-head lead copy">A challenge with creating a smart city is deciding which device vendors to work with.</p>
        <p style="margin-top:50px;" class="mast-head lead copy">What if your master plan doesn't rely on locking in specific vendors but allows the flexibility to use the right devices to solve the right problem.</p>
        <p style="margin-top:50px;" class="pullquote">Say good by to vendor lock-in</p>
        <p style="margin-top:50px;margin-bottom:50px" class="mast-head lead copy">With IoT App Studio you can design your smart cities master plan and then have the flexibility to incorporate the best of breed and state of the art devices and sensors.</p>
    </div>
</div>