@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Asset Management - IoT App Studio";
    ViewData["MetaDescription"] = "NuvIoT apps built with IoT App Studio can help your small business affordably leverage IoT technology to help you embrace change and take advantage of new opportunties.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image:url(/images/AssetTracking.jpg); height:678px;background-repeat:no-repeat;background-size:cover;background-position:center">
    <h1 style="padding-top:25px" class="bnr-headling">Mobile and Stationary Asset Tracking and Management</h1>
    <a class="btn btn-primary" style="font-size:x-large;display:block;margin-left:auto;margin-right:auto;width:200px;display:block;margin-top:50px" href="/contactus">
        Find out More
    </a>
</div>
<div class="container">
    <div class="row" style="margin-top:60px">
        <p style="margin-top:50px;font-family:'RobotoLight';font-size:48px" class="mast-head lead">The right frameworks and tools to create, configure and manage your custom asset tracking application</p>
        <p style="margin-top:50px" class="copy mast-head lead">Use our available mobile app or white label mobile app platform to provision devices.</p>
        <p style="margin-top:50px;" class="pullquote">Shrink Development Costs</p>
        <p style="margin-top:50px" class="copy mast-head lead">Whether you need to bring on a new device type, adapt to changing requirements or scale your system your business growth shouldn't be held back by the development backlog.</p>
    </div>
</div>
