@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Unmanned Systems - IoT App Studio";
    ViewData["MetaDescription"] = "Unmanned Systems or Drones are becoming a powerful sensor platform and provide many new opportunities.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bnr" style="background-image:url(/images//DroneTech.jpg); height:800px">
    <h1 style="padding-top:60px" class="bnr-headling">Unmanned Systems - IoT Platform</h1>
</div>
<div class="container">
    <div class="row" style="margin-top:60px">
        <p style="font-family:'RobotoLight';font-size:48px" class="mast-head lead">Unmanned Systems both create and consume data</p>
        <p style="font-family:'RobotoLight';font-size:x-large;color:rgb(102,102,102)" class="mast-head lead">Drones or Unmanned Systems might be the ultimate IoT sensor platform.  The can collect data from both standard and missions specific sensor payloads as well as receive live updates as mission parameters change.</p>
        <p style="margin-top:50px;" class="pullquote">Connect your unmanned system</p>
        <p style="margin-top:50px" class="copy mast-head lead">Easily build translators to communicate with standard or custom protocols.</p>
    </div>
</div>

