@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Services - IoT App Studio";
    ViewData["MetaDescription"] = "IoT App Studio can build apps for many different industries.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image:url(/images/ServicesBG.jpg); height:569px;background-repeat:no-repeat;background-size:cover;background-position:center">
    <h1 style="padding-top:25px" class="bnr-headling">IoT App Studio </h1>
    <a class="btn btn-primary" style="font-size:x-large;display:block;margin-left:auto;margin-right:auto;width:200px;display:block;margin-top:350px" href="/contactus">
        Find out More
    </a>
</div>
