@font-face {
    font-family: RobotoBlack;
    src: url(/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/fonts/Roboto-Light.ttf);
}


.topNodeSet a {
    color:#1a1a1a;
}

.list ul > li.parentNode > i {
    color: #1a1a1a;
    cursor: pointer;
}

body {
    margin-top: 50px
}

div.bnr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.bnr-headling {
    color: white;
    font-family: RobotoLight;
    font-size:48pt;
    text-align: center;
}

p.copy {
    font-family: 'RobotoLight';
    font-size: x-large;
    color: rgb(102,102,102)
}

p.pullquote {
    background: #1565b4;
    color: white;
    font-family: RobotoRegular;
    font-size: xx-large;
    padding: 20px;
    text-align: center
}