<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/images/nuviotico.png" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css//site.css" rel="stylesheet" />
    <style>
    </style>

    <title>Contact Us - NuvIoT</title>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header" style="margin-left:50px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.IoTAppStudio.com" target="_blank" class="navbar-brand">NuvIoT</a>

                <a href="/" class="navbar-brand">Home</a>
            </div>
            <ul class="nav navbar-nav navbar-right" style="margin-right:50px">
                <li><a href="/help.html#/information/company" target="_blank">Company </a></li>
                <li><a href="/contactus" target="_blank">Contact Us  </a></li>
            </ul>
        </div>

        <div class="row">
            <img style="margin-left:40px" src="~/images/sftlog-large.png" alt="Software Logistics, LLC Graphics" />
        </div>

        <div class="row">
            <div class="col-lg-6" style="padding-top:40px">
                <address style="margin-top:60px">
                    <strong>Software Logistics, LLC</strong><br />
                    1847 Lago Vista Blvd. <br />
                    Palm Harbor, FL<br /><br />
                    <abbr title="Phone">P:</abbr> (727) 455-0530<br /><br />
                    <a href="mailto:sales@nuciot.com">sales@nuviot.com</a><br />
                    <a href="mailto:support@nuciot.com">support@nuviot.com</a><br /><br />
                    <a href="http://ticktes.nuviot.com">Create a Support Ticket</a>
                </address>
            </div>
            <div class="col-lg-6" style="text-align:center">
                <img src="/images/ContactUs.jpg" style="display:inline-block" />
            </div>
        </div>
    </div>

    <div style="position:fixed;bottom:0;width:100%;background-color:rgba(0,0,0,0.5);padding:5px;">
        <span style="color:white;margin-left:50px">&copy; 2017 - Software Logistics, LLC</span>
        <div style="float:right">
            <a style="margin-right:50px;color:white" href="https://app.termly.io/document/terms-of-use-for-saas/90eaf71a-610a-435e-95b1-c94b808f8aca" target="_blank">Terms and Conditions</a>
            <a style="margin-right:50px;color:white" href="https://app.termly.io/document/privacy-policy-for-website/f0b67cde-2a08-4fe8-a35e-5e4571545d00" target="_blank">Privacy Statement</a>
        </div>
    </div>

    <div class="skype-button bubble" data-bot-id="01499698-dd31-4e44-b90d-6becf37f8605"></div>

    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
</body>
</html>
